# Compiled class files
*.class

# Package Files #
*.jar
*.war
*.ear

# Logs and databases #
*.log
*.sql
*.sqlite

# IDE files #
.idea/
.vscode/

# Build output #
/build/
/dist/
/target/

# Dependency directories #
/lib/
/node_modules/
